p, button, a, h3 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
}

.buttonColor1{
    background-color: green !important;
    color: white !important;
}

.buttonColor2{
    background-color: blue !important;
    color: white !important;
}

h5 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
}

h1, h2{
    font-family: 'Roboto Mono', monospace !important;
}

.ui.grid.container{

    width: 100% !important;
}

.column{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.dark{

    background-color: #ECEFF1 !important;
    color: rgba(0,0,0,0.8) !important;
}

.bright{

    background-color: #ffffff !important;
    color: rgba(0,0,0,0.8) !important;
}

#navigation_bar{
    margin-bottom: 1rem !important;
}

.review_text {
    margin-top: 44px;
}

.image_bg {
    height: 80vh;
    background-image: url("images/circuit.jpg");
    background-size: cover;
}

.transparent {
    background-color: rgba(0,0,0,0) !important;
}

.verticalAlign {
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}