body, button, a, h3, h5{
    font-family: 'Roboto', sans-serif !important;
}

h1, h2{
    font-family: 'Roboto Mono', monospace !important;
}

.ui.grid.container{

    width: 100% !important;
}

.column{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.gray{

    background-color: #dddddd;
}

#navigation_bar{
    margin-bottom: 1rem !important;
}

.review_text {
    margin-top: 32px;
}